<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <title>{{titleCase name}} Example | Netlify CMS Widgets</title>
  <link rel="stylesheet" href="netlify-cms/dist/cms.css">

</head>

<body>
  <script src="netlify-cms/dist/cms.js"></script>
  <script src="{{kebabCase name}}.js"></script>

  <script>
    CMS.registerWidget('{{name}}', NetlifyCMSWidget{{pascalCase name}}.Control, NetlifyCMSWidget{{pascalCase name}}.Preview)
  </script>
</body>

</html>
